---
const pageTitle = "Обо мне"
const identily = {
	firstName: "Сара",
	country: "Канада",
	occupation: "Технический писатель",
	hobbies: ["танцы", "роликовые коньки", "кино", "чтение"],
};
const skills = ["HTML","CSS","JavaScript","Astro"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "blue";
---
<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/about/">О сайте</a></li>
				<li><a href="/blog/">Блог</a></li>
			</ul>
		</nav>
		<ul>
			<li>Меня зовут {identily.firstName}</li>
			<li>Моя страна - {identily.country}, и я занимаю должность - {identily.occupation}</li>
			{identily.hobbies.length >= 2 &&
				<li>Два моих увлечения: {identily.hobbies[0]} и {identily.hobbies[1]}</li>
			}
		</ul>
		<p>
			Мои навыки:
		</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		{happy && <p>Я рад изучать Астро</p>}
        {finished && <p>Я завершил изучать руководство</p>}
        {goal === 3 ? <p> Моя цель - завершить за 3 дня</p>: <p>Моя цель - не 3 дня</p>}
		<slot />
	</body>
</html>

<style define:vars={{skillColor}}>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.skill {
		color: var(--skillColor);
		font-weight: bold;
	}
</style>
